<%= turbo_frame_tag "floating_chat_content" do %>
  <div class="flex flex-col h-full" data-controller="chat">
    <%# Messages Area %>
    <div class="flex-1 overflow-y-auto p-4 space-y-4" data-chat-target="messages">
      <div class="flex flex-col items-center justify-center h-full">
        <%= render "chats/ai_greeting" %>
      </div>
    </div>

    <%# Chat Form %>
    <div class="p-4 pt-0 border-t border-primary bg-container">
      <%= render "messages/chat_form", floating: true %>
    </div>
  </div>
<% end %>
